/* Projects */
.projectsContainer {
padding: 2rem 0;
margin-bottom: 2rem;
}

.projectsContainer h2 {
font-size: 2rem;
font-weight: 600;
margin-bottom: 1rem;
}

.projectsGrid {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
}

@media screen and (max-width: 768px) {
.projectsGrid {
    grid-template-columns: repeat(1, 1fr);
}
}

.projectCard {
border: 1px solid #e6e6e6;
padding: 20px;
height: 22rem;
border-radius: 5px;
}

.projectHeader {
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 20px;
}

.folderIcon {
font-size: 35px;
color: #FFCC17;
}

.smallIcons {
display: flex;
gap: 0 5px;
}

.a {
margin-right: 5px;
cursor: pointer;
transition: all .5s ease;
}

.a:hover {
color: #FFCC17;
}

.h3 {
font-size: 20px;
margin-bottom: 10px;
}

.p {
font-size: 16px;
margin-bottom: 10px;
color: #b3b3b3;
}

.flip-card {
    width: 30%;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flipCardInner {
    position: relative;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flipCardFront, .flipCardBack {
    position: absolute;
    width: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flipCardFront {
    color: black;
  }
  
  /* Style the back side */
  .flipCardBack {
    transform: rotateY(180deg);
  }

  .image {
    width: 100%;
    height: auto;
  }

  .video {
    width: 380px;
    height: 200px;
  }

  @media screen and (max-width: 500px) {
    .video {
      width: 280px;
    };
    .image{
      width: 280px;
    }
    }